{% extends "main_template.html" %}
{%  block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='administrator_page.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		$(document).ready(function(){
		  $("textarea").keydown(function(e) {
              if (e.keyCode === 13) {
                  $("form").submit()
				  return false;
			  }
		  });

          let coll = document.getElementsByClassName("collapsible");
          let i;
          for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				let content = this.nextElementSibling;
				if (content.style.maxHeight){
                    content.style.maxHeight =  null;
                    content.style.marginTop = "0";
				} else {
                    content.style.maxHeight = content.scrollHeight + "px";
                    content.style.marginTop = "10px";
				}
			  });
          }

          let int_coll = document.getElementsByClassName("internal_collapsible");
          let h
          for (h = 0; h < int_coll.length; h++) {
              int_coll[h].addEventListener("click", function() {
				this.classList.toggle("active_now");
				let content = this.nextElementSibling;
                let parent_content = $(this).parent().parent();
				if (content.style.maxHeight){
                    content.style.maxHeight = null;
                    content.style.marginTop = "0";
                    content.style.padding = "0";
				} else {
                    content.style.maxHeight = content.scrollHeight + "px";
                    content.style.marginTop = "10px";
                    content.style.padding = "10px 40px";
                    parent_content.css("max-height", "fit-content");
                    parent_content.css("margin-top", "10px");
				}
			  });
          }

          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
              let data;
              {% if current_user.exam_checked %}
				  data = google.visualization.arrayToDataTable([
					  ['Task', 'Hours per Day'],
                      ['Non controllati', {{ user_not_checked }}],
					  ['Controllati', {{ user_checked }}]
				  ]);
              {% else %}
				  data = google.visualization.arrayToDataTable([
					  ['Task', 'Hours per Day'],
					  ['Non iniziato', {{ user_waiting }}],
					  ['In svolgimento', {{ user_working }}],
					  ['Terminato', {{ user_finish }}],
					  ['Altri', {{ user_other }}]
				  ]);
              {% endif %}

			  // Optional; add a title and set the width and height of the chart
			  let options = {
                  'width':250,
				  'height':250,
				  {% if current_user.exam_checked %}
					  'colors': ['#ff4d4d','#00e600'],
				  {% else %}
					  'colors': ['#ff4d4d','#ff9900','#00e600', '#808080'],
				  {% endif %}
				  'pieHole': 0.5,
				  'legend': 'none',
				  'pieSliceTextStyle': {color: 'black', fontSize: 15},
				  'chartArea': {width:'90%',height:'90%'}};

			  // Display the chart inside the <div> element with id="piechart"
			  let chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
			  chart.draw(data, options);
		  }
		});
	</script>
	<script>
        function confirmation(str){
            return confirm(str)
		}
	</script>
{% endblock head %}
{% block body %}
	<form method="POST" action="{{ url_for('admin_page') }}">
		<div class="debug" id="main_center_div">
			<div class="debug" id="fast_function_div">
				<div class="debug fast_function_divs">
					<button id="fast_function_close_exam" type="submit" name="close_exam" value="True"
						onclick="return confirmation('Sicuro di voler chiudere l\'esame, e quindi salvare i dati' +
						 ' e cancellare il database?')">
						Chiudi e salva l'esame
					</button>
					{% if current_user.exam_checked %}
						<button id="fast_function_check_exam" type="submit" name="check_exam" value="True"
							onclick="return confirmation('Uscire dalla modalità di correzione?')">
							Correggi l'esame
						</button>
					{% else %}
						<button id="fast_function_check_exam" type="submit" name="check_exam" value="True"
								style="background-color: white; border: 1px solid black;"
							onclick="return confirmation('Avvio modalità di correzione?')">
							Correggi l'esame
						</button>
					{% endif %}
				</div>
				<div id="pie_div">
					<div class="debug" id="pie_chart"></div>
					<p class="debug" id="pie_text">{{ user_waiting + user_finish + user_working + user_other }}</p>
				</div>
				<div class="debug fast_function_divs"></div>
			</div>
			<div class="debug" id="user_information_div">
				<div class="debug" id="search_bar_div">
					{{ form.text }}
					<input id="search_image" type="image" name="search" value="True"
								   src="{{ url_for('static', filename="icon/search-30.png") }}"
								   alt="Image not found">
				</div>
				<div class="debug" id="show_user">
				{% for user in users %}
					<div class="debug user">
						<div class="debug user_data">{{ "{:06}".format(user.id) }}</div>
						<div class="debug user_data">{{ user.email }}</div>
						<div class="debug user_data">{{ user.surname }}</div>
						<div class="debug user_data">{{ user.name }}</div>
						<div class="debug user_data">
							{% if current_user.exam_checked %}
								{% if user.exam_checked %}
									<img class="user_icon" src="{{ url_for('static', filename="icon/green-circle-48.png") }}"
										 alt="Image not found">
								{% else %}
									<img class="user_icon" src="{{ url_for('static', filename="icon/red-circle-48.png") }}"
										 alt="Image not found">
								{% endif %}
							{% else %}
								{% if not user.exam_started and not user.exam_finished %}
									<img class="user_icon" src="{{ url_for('static', filename="icon/red-circle-48.png") }}"
										 alt="Image not found">
								{% elif user.exam_started and (not user.exam_finished) %}
									<img class="user_icon" src="{{ url_for('static', filename="icon/orange-circle-48.png") }}"
										 alt="Image not found">
								{% elif user.exam_started and user.exam_finished %}
									<img class="user_icon" src="{{ url_for('static', filename="icon/green-circle-48.png") }}"
										 alt="Image not found">
								{% else %}
									<img class="user_icon" src="{{ url_for('static', filename="icon/circled-48.png") }}"
										 alt="Image not found">
								{% endif %}
							{% endif %}
						</div>
						<div class="debug user_data collapsible">
							<img class="user_icon" style="rotate: 270deg;"
								 src="{{ url_for('static', filename="icon/triangle-48.png") }}"
								 alt="Image not found">
						</div>
						<div class="debug more_user_information">
							<div class=" debug user_function_div">
								<button class="user_function_button" type="submit" name="delete" value="{{ user.id }}"
								onclick="return confirmation('Sicuro di voler cancellare l\'utente?')">
									<img class="user_function_image"
											src="{{ url_for('static', filename="icon/cross-30.png") }}"
											alt="Image not found">
									<p style="display: inline-block; vertical-align: middle">Elimina l'utente.</p>
								</button>
								{% if user.restart_token %}
									<div class="user_function_button"
										 style="background-color: #b3ffb3; text-align: center; padding: 5px 0;"
									onclick="return alert('L\'utente ha già la possibilità di loggarsi nuovamente')">
										<img class="user_function_image"
												src="{{ url_for('static', filename="icon/key-24.png") }}"
												alt="Image not found">
										<p style="display: inline-block; vertical-align: middle; margin-left: 4px;">
											Abilita il login.
										</p>
									</div>
								{% else %}
									<button class="user_function_button" type="submit" name="token" value="{{ user.id }}"
									onclick="return confirmation('Sicuro di voler abilitare l\'utente a un nuovo login?')">
										<img class="user_function_image"
												src="{{ url_for('static', filename="icon/key-24.png") }}"
												alt="Image not found">
										<p style="display: inline-block; vertical-align: middle; margin-left: 4px;">
											Abilita il login.
										</p>
									</button>
								{% endif %}

							</div>
							<div class="debug more_user_information_content">
								<div class="debug internal_collapsible user_question_title">
									<p>Mostra domande utente</p>
								</div>
								<div class="debug user_question_div">
									{% if user.questions|length == 0 %}
										<p>Nessuna domanda ancora caricata</p>
									{% else %}
										{% for question in user.questions|sort(attribute='number') %}
											<table class="debug user_question_table">
												<tr class="debug">
													<th>{{ question.number + 1 }}) -</th>
													<th>{{ question.text }}</th>
													{% if current_user.exam_checked %}
														<th>Punti: {{ question.points }}Peso: {{ question.question_weight }}</th>
													{% endif %}
												</tr>
												<tr>
													{% if question.type == 1 %}
														{% for option in question.options.split(CHARACTER_SEPARATOR) %}
															<tr>
																<th></th>
																{% if loop.index0|string in question.answer %}
																	<th style="padding-left: 20px;">+ {{ option }}</th>
																{% else %}
																	<th style="padding-left: 20px;">- {{ option }}</th>
																{% endif %}
															</tr>
														{% endfor %}
													{% else %}
														<th></th>
														<th style="padding-left: 20px;">{{ question.answer }}</th>
													{% endif %}
													{% if current_user.exam_checked %}
														<th></th>
													{% endif %}
												</tr>
											</table>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</form>
{% endblock body %}