{% extends "main_template.html" %}
{%  block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='administrator_page.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		$(document).ready(function(){
		  $("textarea").keydown(function(e) {
              if (e.keyCode === 13) {
                  $("form").submit()
				  return false;
			  }
		  });

          let coll = document.getElementsByClassName("collapsible");
          let i;
          for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				let content = this.nextElementSibling;
				if (content.style.maxHeight){
				  content.style.maxHeight = null;
				} else {
				  content.style.maxHeight = content.scrollHeight + "px";
				}
			  });
          }

          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
              let data = google.visualization.arrayToDataTable([
                  ['Task', 'Hours per Day'],
				  ['Non iniziato', {{ user_waiting }}],
				  ['In svolgimento', {{ user_working }}],
				  ['Terminato', {{ user_finish }}],
				  ['Altri', {{ user_other }}]
			  ]);

			  // Optional; add a title and set the width and height of the chart
			  let options = {
                  'width':250,
				  'height':250,
				  'colors': ['#ff4d4d','#ff9900','#00e600', '#808080'],
				  'pieHole': 0.5,
				  'legend': 'none',
				  'pieSliceTextStyle': {color: 'black', fontSize: 15},
				  'chartArea': {width:'90%',height:'90%'}};

			  // Display the chart inside the <div> element with id="piechart"
			  let chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
			  chart.draw(data, options);
		  }
		});
	</script>
{% endblock head %}
{% block body %}
    <div class="debug" id="main_center_div">
		<div class="debug" id="fast_function_div">
			<div id="pie_div">
				<div class="debug" id="pie_chart">

				</div>
				<p class="debug" id="pie_text">{{ user_waiting + user_finish + user_working + user_other }}</p>
			</div>
		</div>
		<div class="debug" id="user_information_div">
			<div class="debug" id="search_bar_div">
				<form method="POST" action="{{ url_for('admin_page') }}">
					{{ form.text }}
					<input id="search_image" type="image" name="search" value="True"
								   src="{{ url_for('static', filename="icon/search-30.png") }}"
								   alt="Image not found">
				</form>
			</div>
			<div class="debug" id="show_user">
				{% for user in users %}
					<div class="debug user">
						<div class="debug user_data">{{ "{:06}".format(user.id) }}</div>
						<div class="debug user_data">{{ user.email }}</div>
						<div class="debug user_data">{{ user.surname }}</div>
						<div class="debug user_data">{{ user.name }}</div>
						<div class="debug user_data">
							{% if not user.exam_started and not user.exam_finished %}
								<img class="user_icon" src="{{ url_for('static', filename="icon/red-circle-48.png") }}"
									 alt="Image not found">
							{% elif user.exam_started and (not user.exam_finished) %}
								<img class="user_icon" src="{{ url_for('static', filename="icon/orange-circle-48.png") }}"
									 alt="Image not found">
							{% elif user.exam_started and user.exam_finished %}
								<img class="user_icon" src="{{ url_for('static', filename="icon/green-circle-48.png") }}"
									 alt="Image not found">
							{% else %}
								<img class="user_icon" src="{{ url_for('static', filename="icon/circled-48.png") }}"
									 alt="Image not found">
							{% endif %}
						</div>
						<div class="debug user_data collapsible">
							<img class="user_icon collapsible" style="rotate: 270deg;"
								 src="{{ url_for('static', filename="icon/triangle-48.png") }}"
								 alt="Image not found">
						</div>
						<div class="debug more_user_information">
							Show More user information.
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock body %}