{% extends "main_template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exam.css') }}">
{% endblock %}
{% block body %}
	<div id="user_information">
		<table style="margin: 0 auto;">
			<tr>
				<th style="font-weight: bold">Matricola:</th>
				<th style="font-weight: normal">{{ current_user.id }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Email:</th>
				<th style="font-weight: normal">{{ current_user.email }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Nome:</th>
				<th style="font-weight: normal">{{ current_user.name }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Congnome:</th>
				<th style="font-weight: normal">{{ current_user.surname }}</th>
			</tr>
		</table>
	</div>

	<div class="debug" id="information_div">
		<div class="debug information_divs">
			Domanda {{ index + 1 }} / {{ questions_number }}
		</div>
		<div class="debug information_divs">
			{{ question.test_output }}
		</div>
	</div>
	<div class="debug" id="question_content_div">
		<div class="debug" id="output_compiler_div">
			{{ question.compiler_output }}
		</div>
		<div class="debug" id="input_text_div">
			<div class="debug" id="text_question_div">
				{{ question.text }}
			</div>
			<div class="debug" id="input_user_div">
				{{ question.answer }}
			</div>
		</div>
	</div>
	<div class="debug" id="navigation_bar_div">
		<a style="display: inline-block;" href="{{ url_for('exam') }}?index={{ index - 1 }}">
			<button>Indietro</button>
		</a>
		<a style="display: inline-block;" href="{{ url_for('exam') }}?index={{ index + 1 }}">
			<button>Avanti</button>
		</a>
		{{ index }}
	</div>

{% endblock %}