{% extends "main_template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exam.css') }}">
	<script>
		function confirmation(){
            return confirm('Sicuro di voler teminare l\'esame?')
		}
	</script>
	<script>
        function click(){
            window.alert(this.id)
            {% set value %}this.id{% endset %}
            {{ form.multiple_field_selection.append(value) }}
		}
	</script>
{% endblock %}
{% block body %}
	<div id="user_information">
		<table style="margin: 0 auto;">
			<tr>
				<th style="font-weight: bold">Matricola:</th>
				<th style="font-weight: normal">{{ current_user.id }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Email:</th>
				<th style="font-weight: normal">{{ current_user.email }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Nome:</th>
				<th style="font-weight: normal">{{ current_user.name }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Congnome:</th>
				<th style="font-weight: normal">{{ current_user.surname }}</th>
			</tr>
		</table>
	</div>
	<form method="POST" action="{{ url_for('exam') }}">
		<div class="debug" id="information_div">
			<div class="debug information_divs">
				Domanda {{ index + 1 }} / {{ questions_number }}
			</div>
			<div class="debug information_divs">
				<!-- {{ question.test_output_summary }}
				<img class="compiler_output_icon" src="{{ question.test_output_icon }}" alt="Image not found" /> -->
				{{ QUESTION_TYPE.get(question.type) }}
			</div>
			<div class="debug information_divs">
				<input id="recap_answer_button" type="submit" name="recap" value="Revisione domande">
			</div>
		</div>
		<div class="debug" id="question_content_div">
			<div id="text_question_div">
				<p style="padding: 0; margin: 0 auto; font-weight: bold;">Domanda</p>
				{{ question.text }} <!-- <br><br><br><br><br><br><br><br> -->
			</div>

			{% if question.type == 0 %} <!-- Open question -->
				<div style="display: block; margin-bottom: 40px;" id="single_input_user_div">
					{{ form.text }}
				</div>
			{% elif question.type == 1 %} <!-- Multiple choice question -->
				<div class="debug" style="height: fit-content;" id="single_input_user_div">
					{% for q in form.multiple_field_data %}
						<!-- <button class="debug" id="{{ q[0] }}" onclick="click(this)">{{ q[1] }}</button> -->
						{% if q[0] in preselected %}
							<input class="multiple_answer answer_selected" type="submit" value="{{ q[1] }}" name="{{ q[0] }}">
						{% else %}
							<input class="multiple_answer answer_not_selected" type="submit" value="{{ q[1] }}" name="{{ q[0] }}">
						{% endif %}
					{% endfor %}
				</div>
			{% elif question.type >= 2 %} <!-- Code question -->
				<div id="output_compiler_div">
					<p style="font-weight: bold; text-align: center; margin: 10px auto;">Output terminale</p>
					{{ question.compiler_output }}
				</div>
				<div id="output_test_div">
					<p style="font-weight: bold; text-align: center; margin: 10px auto;">Test</p>
					{{ question.test_output }}
				</div>
				<div id="input_user_div">
					{{ form.text }}
				</div>
				<div id="function_management_div">
					<div class="debug function_divs" style="margin-bottom: 0;">
						<input class="function_images" type="image" name="compile" value="True"
							   src="{{ url_for('static', filename="icon/checked-checkbox-50.png") }}"
							   alt="Image not found">
						<p style="margin-bottom: 0; padding-bottom: 0;">Compila</p>
					</div>
					<div class="function_divs">
						<!-- <img src="{{ url_for('static', filename="icon/test-passed-50.png") }}" alt="Image not found"/><br> -->
						<input class="function_images" type="image" name="test" value="True"
							   src="{{ url_for('static', filename="icon/test-passed-50.png") }}" alt="Image not found">
						<p>Testa</p>
					</div>
				</div>
			{% endif %}
		</div>
		<div id="navigation_bar_div">
			<div class="navigation_divs" id="navigation_bar_left_div">
				{% if index > 0 %}
					<input class="navigation_button" type="submit" value="Indietro" name="sub"/>
				{% endif %}
			</div>
			<div class="navigation_divs" id="navigation_bar_center_div">
				<input class="navigation_button" type="submit" value="Termina esame" name="end"
					   style="background-color: #ff4d4d" onclick="return confirmation()"/>
			</div>
			<div class="navigation_divs" id="navigation_bar_right_div">
				{% if index + 1 < questions_number %}
					<input class="navigation_button" type="submit" value="Avanti" name="add" />
				{% endif %}
			</div>
		</div>
	</form>
{% endblock %}