{% extends "main_template.html" %}
{%  block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_administrator.css') }}">
{% endblock head %}
{% block body %}
    <div class="center" id="main_div">
    <form method="POST" action="{{ url_for('login_administrator') }}" id="login_form">
        <table class="center center_vertical" id="login_form_table">
            {{ form.hidden_tag() }}
            {% for value in form.get_attribute() %}
                <tr>
                    <th>{{ value.label }}</th>
                    <th style="text-align: center" id='th-{{ value.label }}'>{{ value(size=20) }}</th>
                </tr>
            {% endfor %}
        </table>
		<div style="text-align: center; margin: 10px 0 auto;">
			{{ form.submit }}
		</div>
    </form>
    </div>
{% endblock body %}