<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_template.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;600&display=swap" rel="stylesheet">
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title> Esame </title>
    {% endif %}

    {% block head %}
    {% endblock %}
</head>
<body>
	<div id="bar_div">
		<div id="left_div">
			<p>Esame Programmazione ad Oggetti</p>
		</div>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="center_text flash-{{ messages[0][0] }}" id="popup_div">
				<p> {{ messages[0][1] }} </p>
			</div>
			<script>
                let popup = document.getElementById("popup_div"),
                    position = -50,
                    speed = 5,
                    acceleration = 0.95,
                    millis = 20,
                    time_to_hold = 5000,
                    id_in = setInterval(div_in, millis),
                    id_out,
					div_height = popup.clientHeight + 10;

                function div_in(){
                    if (position >= 10) {
                        clearInterval(id_in);
                        setTimeout(div_out_caller, time_to_hold);
					}
                    speed = speed * acceleration;
                    position = position + speed;
					popup.style.top = position + 'px';
				}

                function div_out_caller(){
                    id_out = setInterval(div_out, millis);
					speed = 1;
                    acceleration = 1.05;
				}

                function div_out(){
                    if (position < -div_height) {
                        clearInterval(id_out);
					}
                    speed = speed * acceleration;
                    position = position - speed;
					popup.style.top = position + 'px';
				}
			</script>
		{% endif %}
	{% endwith %}

	{% block body %}
	{% endblock %}

	<div id="bottom_bar_div" class="">
		<div class="bottom_bar_divs">
			{% if bottom_bar_left %}
        		{{ bottom_bar_left }}
			{% endif %}
		</div>
		<div class="bottom_bar_divs">
			{% if bottom_bar_center %}
        		{{ bottom_bar_center }}
			{% endif %}
		</div>
		<div class="bottom_bar_divs">
			{% if bottom_bar_right %}
        		Stato: {{ bottom_bar_right }}
			{% else %}
				Stato: sconosciuto
			{% endif %}
		</div>
	</div>
</body>
</html>