{% extends "main_template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recap.css') }}">
{% endblock %}
{% block body %}
	<div class="debug" id="user_information">
		<table style="margin: 0 auto;">
			<tr>
				<th style="font-weight: bold">Matricola:</th>
				<th style="font-weight: normal; padding: 0 10px;">{{ current_user.id }}</th>
				<th style="font-weight: bold">Nome:</th>
				<th style="font-weight: normal; padding: 0 10px;">{{ current_user.name }}</th>
			</tr>
			<tr>
				<th style="font-weight: bold">Email:</th>
				<th style="font-weight: normal; padding: 0 10px;">{{ current_user.email }}</th>
				<th style="font-weight: bold">Congnome:</th>
				<th style="font-weight: normal; padding: 0 10px;">{{ current_user.surname }}</th>
			</tr>
		</table>
	</div>
    <div class="debug" id="main_div">
		{% for q in sorted_questions %}
			<div class="questions">
				<div class="debug question_content">
					<p style="font-weight: bold; margin: 0; padding: 0;">{{ q.number + 1 }}</p>
				</div>
				<div class="debug question_content">
					{{ q.test_output_summary }}
					<img class="compiler_output_icon" src="{{ q.test_output_icon }}" alt="Image not found" />
				</div>
				<div class="debug question_content">
					<a href="{{ url_for('exam') }}?index={{ q.number }}">
						<img class="compiler_output_icon" src="{{ url_for('static', filename="icon/eye-60.png") }}"
						alt="Image not found" />
					</a>
				</div>
			</div>
		{% endfor %}
		<div class="debug" id="back_to_exam_div">
			<a href="{{ url_for('exam') }}">
				<button id="back_to_exam_button">Ritorna all'esame</button>
			</a>
		</div>
	</div>
{% endblock %}