{% extends "main_template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='start_exam.css') }}">
{% endblock %}
{% block body %}
	<div class="center" id="center_div">
		<table>
			<tr>
				<th><p style="font-weight: 400">Informazioni varia da definire...</p></th>
			</tr>
			<tr>
				<th class="column_table">
					<a href="{{ url_for('logout') }}">
						<button class="button_1" id="logout_button" onclick="">Logout</button>
					</a>
				</th>
				<th class="column_table">
					<a href="{{ url_for('starting_exam') }}">
						<button class="button_1" id="start_exam_button" onclick="set_user_flag()">Iniza esame</button>
					</a>
				</th>
			</tr>
		</table>
    </div>
{% endblock %}