{% extends "main_template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='start_exam.css') }}">
{% endblock %}
{% block body %}
	<div class="center" id="center_div">
		<table class="debug" id="information_table">
			{% for k in exam_information.keys() %}
				<tr>
					<th class="debug table_column" style="font-weight: bold;">{{ k }}:</th>
					<th class="debug table_column" style="font-weight: normal">{{ exam_information[k] }}</th>
				</tr>
			{% endfor %}
		</table>
		<div class="debug" id="button_div">
			<a href="{{ url_for('starting_exam') }}">
				<button class="button_1" id="start_exam_button">Iniza esame</button>
			</a>
		</div>
    </div>
{% endblock %}