{% extends "main_template.html" %}
{%  block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_registration.css') }}">
	<script>
		function show_confirm(){
            return confirm('Confermi i seguenti dati?\n\n'
				+ "Matricola:\t'" +  document.getElementById('matricola').value + "'\n"
				+ "Email:\t\t'" +  document.getElementById('email').value + "'\n"
				+ "Nome:\t\t'" +  document.getElementById('nome').value + "'\n"
				+ "Congome:\t'" +  document.getElementById('cognome').value + "'"
			);
		}
	</script>
{% endblock head %}
{% block body %}
	<div id="admin_link">
		<a href="{{ url_for('login_administrator') }}">
			amministratore
		</a>
	</div>
    <div class="center" id="main_div">
    <form method="POST" action="{{ url_for('registration') }}" id="login_form" onsubmit="return show_confirm()">
        <table class="center center_vertical" id="login_form_table">
            {{ form.hidden_tag() }}
            {% for value in form.get_attribute() %}
                <tr>
                    {% if value.errors %}
                        <th></th>
                        <th>
                        <p class="error">
                            {% for error in value.errors %}
                                {{ error }}
                            {% endfor %}
                        </p>
                        </th>
                        </tr>
                        <tr>
                    {% endif %}
                    <th>{{ value.label }}</th>
                    <th style="text-align: center" id='th-{{ value.label }}'>{{ value(size=20) }}</th>
                </tr>
            {% endfor %}
        </table>
		<div style="text-align: center; margin: 10px 0 auto;">
			<input id="submit" class="generic_button" name="submit" type="submit" value="Inizia esame">
		</div>
    </form>
    </div>
{% endblock body %}