
.user{
	height: fit-content;
	margin-top: 15px;
	padding: 10px 40px;
	font-size: 11pt;
	border: 1px solid #7f7f7f;
	border-radius: 10px;
}

.user_data{
	display: inline-block;
	vertical-align: middle;
	height: fit-content;
	width: calc((100% / 6) - 20px);
	margin: 0 5px;
	padding: 0;
	
	text-align: center;
}

.user_icon{
	height: 18px;
}

.more_user_information{
	width: 90%;
	max-height: 0;
  	overflow: hidden;
	transition: all 0.2s ease-out;
	margin: 0 auto;
	padding: 0;
}

.user_function_button{
	display: inline-block;
	vertical-align: top;
	height: fit-content;
	width: fit-content;
	padding: 0 30px;
	margin: 0 10px;
	border-radius: 5px;
	font-size: 9pt;
	background-color: white;
	border: 1px solid #7f7f7f;
}

.more_user_information_content{
	display: inline-block;
	vertical-align: top;
	height: fit-content;
	width: 70%;
	border-radius: 5px;
	font-size: 11pt;
	background-color: white;
	border: 1px solid #7f7f7f;
}

.user_question_title{
	text-align: center;
}

.user_question_div{
	max-height: 0;
	padding: 0;
  	overflow: hidden;
  	transition: all 0.2s ease-out;
}

.user_question_table{
	font-family: 'Albert Sans', sans-serif;
    font-size: 9pt;
    color: black;
	text-align: left;
}

#main_center_div{
	margin: 10px 20px 70px;
	height: fit-content;
}

#fast_function_div{
	margin: 10px;
	height: fit-content;
	min-height: 100px;
}

#pie_div{
	position: relative;
	width: 250px;
	height: 250px;
	padding: 0;
	margin: 20px auto;
}

#pie_chart{
	width: 250px;
	height: 250px;
	padding: 0;
}

#pie_text{
	height: 20px;
	width: 50px;
	position: absolute;
	top: calc((50% - 20px));
	left: calc((50% - 25px));
	font-size: 11pt;
	text-align: center;
	background-color: white;
	z-index: 10;
}

#user_information_div{
	margin: 0 10px;
}

#search_bar_div{
	margin: 0 10px;
	padding: 0;
}

#text{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 105px);
	height: 30px;
	line-height: 30px;
	padding: 5px 20px;
	border: 2px solid #7f7f7f;
	border-radius: 15px;
	text-align: center;
	font-size: 13pt;
	
	overflow:hidden;
}

#search_image{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	
}

#show_user{
	margin: 0 30px;
	padding: 0;
	height: fit-content;
}