option{
	height: 100px;
	text-align: center;
	margin: 20px 40px;
	
	font-family: 'Albert Sans', sans-serif;
    font-size: 90pt;
}

select{
	width:300px;
	height: 200px;
	padding: 20px;
}

select option {
  	background-color: purple;
	margin: 50px;
}

.information_divs{
	position: relative;
	width: 45%;
	text-align: center;
	font-size: 11pt;
	display: inline-block;
	vertical-align:top;
	padding: 0;
}

.compiler_output_icon{
	display: inline-block;
	vertical-align:top;
	height: 15px;
	width: 15px;
	margin-left: 5px;
}

.function_divs{
	display: inline-block;
	vertical-align:top;
	margin: 0 10px;
}

.function_images{
	width: fit-content;
	height: fit-content;
}

.multiple_answer{
	font-family: 'Albert Sans', sans-serif;
    font-size: 11pt;
	display: block;
	width: calc(95% - 5px);
	height: fit-content;
	background-color: white;
	padding: 10px 30px;
	margin: 15px auto;
	border-radius: 5px;
}

.answer_selected{
	border: 2px solid blue;
}

.answer_not_selected{
	border: 1px solid #7f7f7f;
}

.navigation_divs{
	display: inline-block;
	vertical-align:top;
	width: calc(93% / 3);
	margin: 0 1%;
	text-align: center;
}

.navigation_button{
	width: 150px;
	border-radius: 5px;
	border: 0 solid;
	padding: 5px;
	font-size: 9pt;
	font-weight: bold;
}

#information_div{
	width: 50%;
	height: fit-content;
	padding: 10px 10px;
	margin-top: 10px;
	margin-left: 20px;
	
	font-size: 11pt;
}

#question_content_div{
	margin: 10px 20px 70px;
	min-height: 500px;
	height: fit-content;
	padding: 0 10px;
	
	font-size: 11pt;
}

#text_question_div{
	margin-bottom: 10px;
	font-size: 13pt;
	height: fit-content;
	padding: 10px 40px;
	text-align: center;
	
	border: 2px solid #7f7f7f;
	border-radius: 10px;
}

#output_compiler_div{
	display: inline-block;
	vertical-align:top;
	width: calc(25% - 50px);
	height: 300px;
	margin-right: 15px;
	
	border: 1px solid #7f7f7f;
	border-radius: 10px;
	padding: 5px 20px;
}

#output_test_div{
	display: inline-block;
	vertical-align:top;
	width: calc(25% - 55px);
	margin-right: 15px;
	height: 300px;
	
	border: 1px solid #7f7f7f;
	border-radius: 10px;
	padding: 5px 20px;
}

#input_user_div{
	display: inline-block;
	vertical-align:top;
	width: calc(50% - 21px);
	height: 300px;
}

#single_input_user_div{
	display: block;
	width: calc(50%);
	height: 300px;
	margin: 0 auto 30px;
}

#text{
	font-size: 11pt;
	display: block;
	height: 290px;
	width: calc(100% - 20px);
	padding: 10px;
	
	margin: auto;
	border: 1px solid #7f7f7f;
	border-radius: 10px;
}

#function_management_div{
	min-width: 30%;
	width: fit-content;
	margin: 10px auto;
	text-align: center;
	padding: 10px;
}

#navigation_bar_div{
	position: fixed;
	bottom: 40px;
	left: 25px;
	right: 25px;
	padding: 5px 10px;
	height: fit-content;
	border: 1px solid #7f7f7f;
	border-radius: 10px;
	
	background-color: white;
	z-index: 10;
}