
.information_divs{
	position: relative;
	width: 45%;
	text-align: center;
	font-size: 11pt;
	display: inline-block;
}

#information_div{
	width: 70%;
	height: fit-content;
	padding: 10px 10px;
	margin-top: 10px;
	margin-left: 20px;
	
	font-size: 11pt;
}

#question_content_div{
	margin: 10px 20px;
	height: 500px;
	padding: 10px;
}

#text_question_div{
	margin-bottom: 10px;
	height: fit-content;
	padding: 5px;
	text-align: center;
}

#output_compiler_div{
	display: inline-block;
	width: 20%;
	height: 90%;
}

#input_user_div{
	display: inline-block;
	width: 74%;
	height: 90%;
	margin-left: 4%;
}

#text{
	display: flex;
	height: 97%;
	width: 90%;
	
	margin: 0 auto;
}

#navigation_bar_div{
	margin: 10px 20px;
}