body{
    font-family: 'Albert Sans', sans-serif;
    font-size: 9pt;
    color: black;
}

a{
    text-decoration: none;
}

button{
    color: black;
}

.debug{
    border: 1px solid dodgerblue;
}

.center_text{
    text-align: center;
    vertical-align: center;
}

.flash-success{
    background-color: #b3ffb3;
}

.flash-warning{
    background-color: #ffe0b3;
}

.flash-danger{
    background-color: #ffb3b3;
}

.bottom_bar_divs{
    position: relative;
    height: fit-content;
    width: 32%;
    margin: 0 auto;
    display: inline-block;
    
    color: white;
}

#left_div{
    font-size: 18pt;
    font-weight: normal;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    min-width: 400px;
    width: 35%;
    height: 50px;
    vertical-align: middle;
}

#popup_div{
    position: absolute;
    width: 30%;
    min-height: 40px;
    top: -50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    color: black;
    border-radius: 10px;
    
    font-size: 11pt;
}

#bar_div{
    border-bottom: 2px outset lightgray;
    position: relative;
    width: auto;
    margin-right: 0;
    height: 50px;
}

#bottom_bar_div{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
    text-align: center;
    height: fit-content;
    
    padding: 3px 0;
    
    background-color: #602877;
}

/* Only for pages where the user is authenticated. */
#user_information{
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    max-height: 50px;
    
    padding: 15px 50px 10px;
    text-align: left;
    
    font-size: 11pt;
}