.center{
    margin: auto;
}

.table_column{
    width: calc(100% / 2);
    margin: 0;
    padding: 5px 20px;
    text-align: left;
}

.button_1 {
    font-size: 11pt;
    padding: 15px;
    margin: 0 10px;
    border-radius: 10px;
    border: 0 solid;
}

#center_div{
    width: fit-content;
    height: fit-content;
    border: 2px solid #7f7f7f;
    border-radius: 25px;
    padding: 30px 80px;
    
    font-size: 11pt;
    font-weight: lighter;
    
    margin-top: 10%;
    margin-bottom: calc(10% + 20px);
}

#information_table{
    padding: 0;
}

#button_div{
    width: fit-content;
    height: fit-content;
    margin: 30px auto 0;
    text-align: center;
}

#start_exam_button{
    background-color: #b3d1ff;
}

#logout_button{
    background-color: #ffb3b3;
}