<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title> Esame </title>
    {% endif %}

    {% block head %}
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
</body>
</html>