{% extends "main_template.html" %}
{%  block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock head %}
{% block body %}
    <div class="debug center" id="main_div">
    <form method="POST" action="/login" id="login_form">
        <table class="debug center center_vertical">
            {{ form.hidden_tag() }}
            {% for value in form.get_attribute() %}
                <tr>
                    {% if value.errors %}
                        <th></th>
                        <th>
                        <p class="error">
                            {% for error in value.errors %}
                                {{ error }}
                            {% endfor %}
                        </p>
                        </th>
                        </tr>
                        <tr>
                    {% endif %}
                    <th>{{ value.label }}</th>
                    <th>{{ value(size=20) }}</th>
                </tr>
            {% endfor %}
        </table>
    </form>
    </div>
{% endblock body %}